<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
<ul class="orbit-container">
  <li class="orbit-slide is-active">
    <img class="orbit-image" src="{{root}}/assets/img/banner3.jpg" alt="Alt banner text">
    <figcaption class="orbit-caption">{{heroText}}</figcaption>
  </li>
  <li class="orbit-slide is-active">
    <img class="orbit-image" src="{{root}}/assets/img/banner3.jpg" alt="Alt banner text">
    <figcaption class="orbit-caption">{{heroText}}</figcaption>
  </li>
</ul>
</div>